@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Heebo:wght@200;600&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,400&family=Roboto:wght@900&display=swap');

/* ESTILOS GENERALES*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--negro);
    overflow-x: hidden;
}
h1{
    color: aliceblue;
    max-width: 900px;
    padding-left: 100px;
    font-size: 45px;
    animation-name: animacionInicial;
    animation-duration: 1.5s;
}

/* VARIABLES */
:root{
    --negro : black;
    --naranja: #f06b26;
    --violeta: rgb(178, 59, 246);
}

/*----------------------ESTILOS NAVBAR----------------------*/
.navbar{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.nav-list1{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
}
.nav-links{
    transition: all 0.3s ease;
}
.nav-logo{
    width:40px;
}
.verifly{
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}
.nav-list2{
    display: flex;
    margin-right: 40px;
    gap: 20px;
}
.nav-button{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 3px 5px 3px;
    background:linear-gradient(45deg, #e63307, rgb(131, 7, 202));

}
.word{
    background-color: var(--negro);
    padding: 4px 10px 4px 10px;
    font-weight: 300;
    font-size: 15px;
}
.word:hover{
    background:linear-gradient(45deg, #e63307, rgb(131, 7, 202));
}
.nav-links:hover{
    transform: scale(1.2);
}



/*----------------------ESTILOS HERO----------------------*/
.hero{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 91vh;
}
.hero1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bg-hero{
    background-color: transparent;
}
.backimage-hero{
    animation-name: animacionInicial3;
    animation-duration: 1s;
}
.descrip{
    color: aliceblue;
    padding-left: 65px;
    max-width: 800px;
    font-weight: 200;
    animation-name: animacionInicial2;
    animation-duration: 1.5s;
}
.content-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-bottom: 70px;
}
@keyframes animacionInicial2{
    0%{
        transform: translateX(100px);
    }
}
@keyframes animacionInicial{
    0%{
        transform: translateX(-200px);
    }
}
@keyframes animacionInicial3{
    0%{
        transform: translateY(300px);
    }
}
.button-section{
    display: flex;
    gap: 20px;
    right: 170px;
    bottom: 0;
    animation-name: animacionInicial2;
    animation-duration: 1.5s;
}
.excep{
    background:linear-gradient(45deg, #e63307, rgb(131, 7, 202));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.button-hero{
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button1{
    background:linear-gradient(45deg, #e63307, rgb(131, 7, 202));
    color: aliceblue;
    transition: all 0.3s ease;
}
.button2{
    background-color: var(--negro);
    border: 1px solid rgb(204, 204, 204);
    color: rgb(235, 235, 235);
    transition: all 0.3s ease-in-out;
}
.button1:hover{
    transform:translateX(-20px);
}
.button2:hover{
    transform: translateX(10px);
}


/*----------------------ESTILOS CARDS----------------------*/
.cards-section{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#0f0f0f 2px, transparent 2px), linear-gradient(to right, #141414 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: var(--negro);
    gap: 40px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.card-reason{
    height: 400px;
    width: 300px;
    background-color: #181818c7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}
.card-reason:hover{
    transform: translateY(-15px);
}
.whyus{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    max-width: 800px;
}
.under-p{
    color: rgb(182, 182, 182);
    font-weight: 200;
}
.card-container{
    display: flex;
    gap: 100px;
    margin-top: 40px;
}
.card-icon{
    width: 80px;
}
.reasons{
    color: aliceblue;
    text-align: center;
    font-weight: 300;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
}


/*----------------------ESTILOS MOTIVOS----------------------*/

.section-motivos{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

}
.porcentajes{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: #111111;
    padding: 80px;
    border-radius: 20px;
}
.tasas{
    font-size: 80px;
    font-weight: 800;
}
.tasa1{
    background:linear-gradient(45deg, #0063d4, rgb(131, 7, 202));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border-right: 3px solid rgb(68, 68, 68);
    padding-right: 15px;
}
.tasa2{
    background:linear-gradient(45deg, #00da74, rgb(4, 138, 248));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-left: 10px;
}
.descripcion{
    color: aliceblue;
    text-align: center;
    max-width: 200px;
    font-weight: 200;
}

/*----------------------ESTILOS FOOTER----------------------*/

.footer{
    display: flex;
    color: #0f0f0f;
    bottom: 0;
    width: 100vw;
    padding: 30px;
    border-top: 1px solid rgb(36, 36, 36); 
    justify-content: space-evenly;
}
.firstcont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 190px;
}
.secondcont{
    padding-right: 100px;
}
.veriff{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.descverif{
    color: aliceblue;
    font-weight: 200;
    font-size: 15px;
    padding-left: 30px;
}
.footer-section-title{
    padding-bottom: 10px;
}
.footer-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.listas-secundarias-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.linksfooter a{
    color: aliceblue;
    font-weight: 200;
    text-decoration: none;
}




/*----------------------ESTILOS PLANES (NO SOCIALES)----------------------*/

.planes-section{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    
}
.planes-container{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.plancard{
    height: 600px;
    width: 500px;
    border-radius: 20px;
    background-color: #141516;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    padding-top: 10px;
}
.titulos-planes{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid rgb(109, 109, 109);
}
.tiempo{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background:linear-gradient(45deg, #e63307, rgb(131, 7, 202));
    color: aliceblue;
    border-radius: 10px;
}
.tiempo-free{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 50px;
    background-color: #222324;
    border: 1px solid aliceblue;
    color: aliceblue;
    border-radius: 10px;
    
}
.precio{
    color: aliceblue;
    font-size: 60px;
    font-weight: bold;
}
#ofert-icon{
    width: 50px;
    margin-left: 10px;
}
.check-icon{
    width: 25px;
}
.content-planes{
    color: aliceblue;
    list-style: none;
    font-weight: 200;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-planes li{
    display: flex;
    gap: 10px;
    align-items: center;
}
.botones-plan{
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    background-color: #141516;
    color: aliceblue;
    border-color: #039953;
    cursor: pointer;
}
.botones-plan:hover{
    box-shadow: -1px 0px 36px 0px rgba(3,153,83,0.75);
    -webkit-box-shadow: -1px 0px 36px 0px rgba(3,153,83,0.75);
    -moz-box-shadow: -1px 0px 36px 0px rgba(3,153,83,0.75);
}
#canceled{
    text-decoration: line-through;
    color: #e634079f;
}